
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > * {
  text-align: center;
}

.main a {
  text-decoration: underline;
}

.main a:hover {
  color: navy;
  text-decoration-color: navy;
}

img.image {
  max-height: 40vh;
  max-width: 100vw;
}

@media (max-width: 800px) {
  .main {
    padding: 0;
    margin: 20px;
    margin-top: 0;
  }
}